@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: 'Saiyan Sans';
  src: url('/fonts/Saiyan-Sans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Barlow';
  src: url('/fonts/BarlowCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,h2 {
  font-family: 'Saiyan Sans', sans-serif;
  color: white;
  text-align: center;
  text-shadow: 0 0 10px #f9a825, 0 0 20px #f57f17, 0 0 30px #ff6f00;
            
               -webkit-text-fill-color: transparent;
               -webkit-text-stroke: 2px #FF9800;
    text-shadow: 0px 0px 10px #f57f17;
}

h3,h4, span {
  font-family: 'Barlow', sans-serif;
  color: rgb(0, 0, 0);
    text-shadow: 0px 0px 10px #ffe8d4;
}

button, a{
  font-family: 'Barlow', sans-serif;
  color: rgb(233, 233, 233);
    text-shadow: 0px 0px 10px #2c2a2a;
}

html {
  scroll-behavior: smooth;
}
